.list {
    composes: listReset from global;
    position: absolute;
}

.sort {
    position: relative;

}

.divv {
    composes: buttonLight from global;
    width: 210px;
    height: 80px;

}

.itemButton {
    background: transparent;
    border: none;
    width: 150px;
}

.button {
    background: transparent;
    border: none;
    background-color: black;
    color: white;
    width: 150px;
    border-radius: 9px;
}