.buttonDark {
    border-radius: 30px;
    background-color: var(--dark-color);
    padding: 15px 30px;
    color: #ffff;
}

.buttonLight {
    border-radius: 30px;
    background-color: var(--light-color);
    padding: 15px 30px;
    color: #000
}

.container {
    max-width: 1235px;
    margin: 0 auto;
    padding: 0 15px;
}