.div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.h1 {
    font-family: Abel;
    font-weight: 400;
    font-size: 32px;
}

.p {
    font-family: Abel;
    font-weight: 400;
    font-size: 18px;
}