.divv {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.priceBox {
    display: flex;
    align-items: center;
    justify-content: space-around;

}


.active {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;  
}